/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&family=Fira+Code:wght@400;500;600&family=Rubik:ital,wght@0,400;0,500;0,600;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a,
a:hover {
  text-decoration: none !important;
  color: #000000;
}

body {
  background: #FFFFFF;
}

/* Chrome, Safari */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eaf4ff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #fcae76;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.custome-btn-button,
.custome-btn-button:hover {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  /* font-weight: 500; */
  font-family: var(--blink-family);
  padding: 12px 20px;
  border-radius: .25rem;
  background-image: linear-gradient(to bottom right, #ff7a19, #ea580c);
}

:root {
  --orange-color: #FF7A19;
  --black--color: #000000;
  --fira-code-family: 'Fira Code', monospace;
  --rubik-family: 'Rubik', sans-serif;
  --blink-family: 'Blinker', sans-serif;
  --poppins-family: 'Poppins', sans-serif;
}

.span-orange {
  color: var(--orange-color);
}




/*==================================================
                Registration section start  
====================================================*/

.registation-cards-section {
  /* background: #ffecde; */
  padding-bottom: 100px;
}

.registation-cards-section .heading {
  padding: 40px 0;
}

.registation-cards-section .heading .heading-main::after {
  content: '';
    display: block;
    width: 477px;
    height: 4px;
    background: #ff7a19;
    position: relative;
    top: 8px;
    align-items: 30p;
    text-align: -webkit-right;
    right: -526px;
}

.registation-cards-section .heading .heading-main,
.registation-cards-section .heading .heading-main span {
  font-size: 36px;
  font-family: var(--fira-code-family) !important;
  font-weight: 500;
}

.registation-cards-section .reg-two-card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(330px, 1fr));
  gap: 130px;
  margin: 0 166px;

}

.registation-cards-section .reg-two-card-container .reg-card {
  width: 100%;
  padding: 35px 46px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: .3s;
}

.registation-cards-section .reg-two-card-container .reg-card:hover {
  transform: translateY(-10px);
}

.registation-cards-section .reg-two-card-container .reg-card h2,
.registation-cards-section .reg-two-card-container .reg-card p,
.registation-cards-section .reg-two-card-container .reg-card a {
  font-family: var(--rubik-family);
}

.registation-cards-section .reg-two-card-container .reg-card h2 {
  font-weight: 500;
  font-size: 30px;
  color: #1A202C;

}

.registation-cards-section .reg-two-card-container .reg-card p {
  font-size: 20px;
  line-height: 1.39;
  font-weight: 400;
  color: #1A202C;
  text-align: justify;
}

.registation-cards-section .reg-two-card-container .reg-card a {
  font-size: 21.5px;
  transition: .3s;
}
.registation-cards-section .reg-two-card-container .reg-card a:hover {
  transform: translateY(-5px);
}

/*=============== Registration section end =============*/



/*==================================================
                Timeline section start  
====================================================*/

.timeline-section .heading .heading-main,
.timeline-section .heading .heading-main span{
  font-family: var(--fira-code-family);
  font-size: 36px;
}

.card{
  border: none !important;
}
.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 2px dashed #c4d2e2;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 12px;
  text-align: right;
  margin-right: 20px;
  color: #000000;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: .8rem;
  color: #8796af;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #ffffff;
  border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}

.timeline-row .timeline-content i {
  font-size: 2rem;
  color: #ffffff;
  line-height: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
  margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
  background-color: #ff5000;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc6d4c), to(#ff5000));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fc6d4c, #ff5000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #fc6d4c, #ff5000);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fc6d4c, #ff5000);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fc6d4c, #ff5000);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fc6d4c, #ff5000);
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -39px;
  border-right: 18px solid #ff5000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -50px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  background-color: #5a99ee;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1379bb), to(#5a99ee));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1379bb, #5a99ee);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #1379bb, #5a99ee);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #1379bb, #5a99ee);
  /* IE10 */
  background-image: -o-linear-gradient(top, #1379bb, #5a99ee);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #1379bb, #5a99ee);
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -39px;
  border-left: 18px solid #1379bb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .timeline {
      padding: 15px 10px;
  }
  .timeline:after {
      left: 28px;
  }
  .timeline .timeline-row {
      padding-left: 0;
      margin-bottom: 16px;
  }
  .timeline .timeline-row .timeline-time {
      position: relative;
      right: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
  }
  .timeline .timeline-row .timeline-time strong {
      display: inline-block;
      margin-right: 10px;
  }
  .timeline .timeline-row .timeline-icon {
      top: 52px;
      left: -2px;
      margin-left: 0;
  }
  .timeline .timeline-row .timeline-content {
      padding: 15px;
      margin-left: 56px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      position: relative;
  }
  .timeline .timeline-row .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
  }
  .timeline .timeline-row:nth-child(odd) {
      padding-right: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
      position: relative;
      right: auto;
      left: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
      margin-right: 0;
      margin-left: 55px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
      border-right: 18px solid #5a99ee;
      border-left: inherit;
  }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
      left: 20px;
  }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
      left: 0;
  }
}

/*=============== Timeline section end =============*/



 /* responsive code  */

 
@media (max-width: 767px) {
  
  .top-ten-student .heading .heading-main::after{
    display: none !important;
  }
  .top-ten-mentor .heading .heading-main::after{
    display: none !important;
  }
  .registation-cards-section .heading .heading-main::after{
    display: none !important;

  }
  .registation-cards-section .reg-two-card-container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    margin-left: 32px;


  }
  .registation-cards-section .reg-two-card-container{
    margin: 0 10px !important;
    gap: 35px !important;
  }
  .top-ten-student{
    margin:0 !important;
    padding: 0 !important;
  }
  .top-ten-mentor{
    margin:0 !important;
    padding: 0 !important;
  }
}