/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&family=Fira+Code:wght@400;500;600&family=Rubik:ital,wght@0,400;0,500;0,600;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a,
a:hover {
  text-decoration: none !important;
  color: #000000;
}

body {
  background: #FFFFFF;
}

/* Chrome, Safari */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eaf4ff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #fcae76;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.custome-btn-button,
.custome-btn-button:hover {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  /* font-weight: 500; */
  font-family: var(--blink-family);
  padding: 12px 20px;
  border-radius: .25rem;
  background-image: linear-gradient(to bottom right, #ff7a19, #ea580c);
}

:root {
  --orange-color: #FF7A19;
  --black--color: #000000;
  --fira-code-family: 'Fira Code', monospace;
  --rubik-family: 'Rubik', sans-serif;
  --blink-family: 'Blinker', sans-serif;
  --poppins-family: 'Poppins', sans-serif;
}

.span-orange {
  color: var(--orange-color);
}

/*==================================================
                header section start  
====================================================*/

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  /* box-shadow: 0 0 10px #FF7A19, 0 0 5px #FF7A19; */
  box-shadow: rgba(241, 169, 60, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(25px);
  z-index: 99;
}

nav .navbar {
  height: 100%;
  /* max-width: 1250px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo a {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #1A202C;
  font-size: 17px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #1A202C;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #FFFFFF;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #1A202C;
  font-size: 17px;
  font-weight: 500;
}

.navbar .links li .sub-menu a:hover {
  background-color: aliceblue;
  width: 100%;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: 15px;
  }
}

@media (max-width:800px) {

  nav {
    /* position: relative; */
  }

  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    text-align: center;
    max-width: 240px;
    width: 100%;
    background: #FFFFFF;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #000000;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #000000;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;

  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }


  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }

}

@media (max-width:370px) {

  nav .navbar .nav-links {
    max-width: 100%;
  }

}

/*=============== header section end ================*/

/*==================================================
                hero section start  
====================================================*/

.hero-section .hero-two-flex {
  display: flex;
  align-items: center;
  gap: 120px;
  margin: 2px 138px;
}

.hero-section .hero-two-flex .contant h2,
.hero-section .hero-two-flex .contant h2 span {
  font-size: 3.75rem;
  line-height: 1;
  font-family: var(--fira-code-family) !important;
  font-weight: 600;
  margin-bottom: 35px;
  /* margin-right: 27px; */
}

.hero-section .hero-two-flex .contant p {
  font-size: 24px;
  color: #1F2937;
  font-family: var(--rubik-family);
  margin-bottom: 63px;
  line-height: 1.5;

}

.hero-section .hero-two-flex .contant p .span-orange {
  font-size: 24px;
  font-family: var(--rubik-family);
}

.hero-section .hero-two-flex .contant p .bold-span {
  font-weight: 600;
}

.hero-section .hero-two-flex .contant .button-container .custome-btn {
  font-size: 24px;
  font-family: var(--poppins-family);
  font-weight: 500;
  line-height: 2rem;
  color: rgb(255 255 255/1);
  padding: 8px 50px;
  border-radius: 1rem;
  background-image: linear-gradient(to bottom right, #ff7a19, #ea580c);
}

.hero-section .hero-two-flex .hero-img {
  height: 600px;
  width: 600px;
  will-change: transform;
  transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  transform: translatey(0);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0);
  }
}


.hero-section-background {
  /* position: absolute;q  */
  top: 0;
}

.hero-section-background img {
  position: absolute;
}

.hero-section-background img:first-child {
  width: 100%;
  top: 0;
  z-index: -4;
}

.hero-section-background img:nth-child(2) {
  top: 0;
  z-index: -3;
}

.hero-section-background img:nth-child(3) {
  top: 0;
  z-index: -2;
}

.hero-section-background img:nth-child(4) {
  top: 0;
  z-index: -1;
  border-color: #E2E8F0;
  border: none;
}

@media (max-width:800px) {
  .hero-section .hero-two-flex .contant p {
    line-height: 1.45;
  }

  .hero-section .hero-two-flex .contant h2,
  .hero-section .hero-two-flex .contant h2 span {
    line-height: 1.24;
  }

  .hero-section .hero-two-flex .hero-img {
    display: none;
  }

  .hero-section .hero-two-flex {
    flex-direction: column;
    margin: 68.5px 30px;
  }

  .hero-section .hero-two-flex .contant {
    text-align: center;
  }

  .breck-line {
    display: none;
  }

}

/*=============== hero section end ================*/


/*==================================================
                guid-pdf section start  
====================================================*/

.guid-pdf {
  margin: 90px auto;
  max-width: 1300px;
}

.guid-pdf .guid-btn-container {

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.guid-pdf .guid-btn-container a {
  font-size: 28.5px;
  padding: 10px 110px;
  margin: 15px 0;
  transition: .3s;
}

.guid-pdf .guid-btn-container a:hover {
  background-image: linear-gradient(to bottom right, #ea580c, #ff7a19);
  transform: translateY(-5.5px);

}

@media (max-width:800px) {
  .guid-pdf .guid-btn-container {
    flex-direction: column;
  }

  .guid-pdf .guid-btn-container a {
    width: 350px;
    font-size: 22.5px;
    padding: 10px 80px;
    margin: 15px 0;
    transition: .3s;
  }
}

/*=============== guid-pdf section end =============*/


/*==================================================
                about program section start  
====================================================*/

.about-program {
  background-color: #FFECDE;
  margin-left: auto;
  margin-right: auto;
}

.about-program .about-container-flex {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 70px 0;
}

.about-program .about-container-flex .about-video-content {
  max-width: 50%;
}

.about-program .about-container-flex .about-video-content video {
  border-radius: 5px;

}

.about-program .about-container-flex .about-text-content {
  max-width: 40%;
}

.about-program .about-container-flex .about-text-content .about-heading,
.about-program .about-container-flex .about-text-content .about-heading span {
  margin: 0 0 20px;
  font-size: 40px;
  font-family: var(--fira-code-family) !important;
  /* color :#000000; */
  font-weight: 600;
  margin-bottom: 45px;

}

.about-program .about-container-flex .about-text-content .about-paragraph {
  color: #1A202C;
  font-size: 25px;
  text-align: justify;
  font-family: var(--rubik-family);
}

@media (max-width:800px) {
  .about-program .about-container-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .about-program .about-container-flex .about-video-content {
    max-width: 100%;
  }

  .about-program .about-container-flex .about-text-content {
    margin-top: 25px;
    max-width: 90%;
  }

  .about-program .about-container-flex .about-text-content .about-heading,
  .about-program .about-container-flex .about-text-content .about-heading {
    font-size: 38px;
  }
}


/*============= about program section end =========*/

/*==================================================
                Student & Mentor section start  
====================================================*/

.section-for-bg {
  background-image: url('assets/images/code-bg.svg');
  background-repeat: no-repeat;
  background-position: right;
  transform: translateY(-50px);
  margin: 50px 0;

}

.top-ten-student {
  margin: 50px 50px;
  padding: 5px 90px;
}

.top-ten-mentor {
  margin: -40px 50px;
  padding: 5px 90px;
}

.slide-container {
  width: 90%;
  width: 100%;
  /* padding: 40px 0; */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ff7919de;
}

.swiper-pagination-bullet-active {
  background-color: #ff7919de !important;
}

.slide-content {
  margin: 20px 83px;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 50px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ff7919de;
  border-radius: 25px 25px 0 25px;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ff7919de;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #ff7919de;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #ff7919de;
}

.swiper-navBtn {
  color: #ff7919de;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #ff7919de;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #ff7919de;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ff7919de;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

.heading {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.top-ten-student .heading .heading-main,
.top-ten-mentor .heading .heading-main {
  font-size: 40px;
  font-family: var(--fira-code-family) !important;
  /* color: #000000; */
  font-weight: 500;
  margin-bottom: 32.5px;
}

.top-ten-student .heading span,
.top-ten-mentor .heading span {
  font-size: 20px;
  font-family: var(--fira-code-family) !important;
}

.top-ten-student .heading .heading-main::after {
  content: '';
  display: block;
  width: 384px;
  height: 4px;
  background: #ff7a19;
  position: relative;
  top: 5px;
  right: -432px;
}

.top-ten-mentor .heading .heading-main::after {
  content: '';
  display: block;
  width: 280px;
  height: 4px;
  background: #ff7a19;
  position: relative;
  top: 5px;
  right: -486px;
}

.top-ten-student .heading span,
.top-ten-mentor .heading span {
  font-family: var(--fira-code-family) !important;
}


/*=============== student & mentor section end =============*/


/*==================================================
                Registration section start  
====================================================*/

.registation-cards-section {
  /* background: #ffecde; */
  padding-bottom: 100px;
}

.registation-cards-section .heading {
  padding: 40px 0;
}

.registation-cards-section .heading .heading-main::after {
  content: '';
    display: block;
    width: 477px;
    height: 4px;
    background: #ff7a19;
    position: relative;
    top: 8px;
    align-items: 30p;
    text-align: -webkit-right;
    right: -526px;
}

.registation-cards-section .heading .heading-main,
.registation-cards-section .heading .heading-main span {
  font-size: 36px;
  font-family: var(--fira-code-family) !important;
  font-weight: 500;
}

.registation-cards-section .reg-two-card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(330px, 1fr));
  gap: 130px;
  margin: 0 166px;

}

.registation-cards-section .reg-two-card-container .reg-card {
  width: 100%;
  padding: 35px 46px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: .3s;
}

.registation-cards-section .reg-two-card-container .reg-card:hover {
  transform: translateY(-10px);
}

.registation-cards-section .reg-two-card-container .reg-card h2,
.registation-cards-section .reg-two-card-container .reg-card p,
.registation-cards-section .reg-two-card-container .reg-card a {
  font-family: var(--rubik-family);
}

.registation-cards-section .reg-two-card-container .reg-card h2 {
  font-weight: 500;
  font-size: 30px;
  color: #1A202C;

}

.registation-cards-section .reg-two-card-container .reg-card p {
  font-size: 20px;
  line-height: 1.39;
  font-weight: 400;
  color: #1A202C;
  text-align: justify;
}

.registation-cards-section .reg-two-card-container .reg-card a {
  font-size: 21.5px;
  transition: .3s;
}
.registation-cards-section .reg-two-card-container .reg-card a:hover {
  transform: translateY(-5px);
}

/*=============== Registration section end =============*/



/*==================================================
                Timeline section start  
====================================================*/

.timeline-section .heading .heading-main,
.timeline-section .heading .heading-main span{
  font-family: var(--fira-code-family);
  font-size: 36px;
}

.card{
  border: none !important;
}
.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 2px dashed #c4d2e2;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 12px;
  text-align: right;
  margin-right: 20px;
  color: #000000;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: .8rem;
  color: #8796af;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #ffffff;
  border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}

.timeline-row .timeline-content i {
  font-size: 2rem;
  color: #ffffff;
  line-height: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
  margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
  background-color: #ff5000;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc6d4c), to(#ff5000));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fc6d4c, #ff5000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #fc6d4c, #ff5000);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fc6d4c, #ff5000);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fc6d4c, #ff5000);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fc6d4c, #ff5000);
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -39px;
  border-right: 18px solid #ff5000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -50px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  background-color: #5a99ee;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1379bb), to(#5a99ee));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1379bb, #5a99ee);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #1379bb, #5a99ee);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #1379bb, #5a99ee);
  /* IE10 */
  background-image: -o-linear-gradient(top, #1379bb, #5a99ee);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #1379bb, #5a99ee);
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -39px;
  border-left: 18px solid #1379bb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .timeline {
      padding: 15px 10px;
  }
  .timeline:after {
      left: 28px;
  }
  .timeline .timeline-row {
      padding-left: 0;
      margin-bottom: 16px;
  }
  .timeline .timeline-row .timeline-time {
      position: relative;
      right: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
  }
  .timeline .timeline-row .timeline-time strong {
      display: inline-block;
      margin-right: 10px;
  }
  .timeline .timeline-row .timeline-icon {
      top: 52px;
      left: -2px;
      margin-left: 0;
  }
  .timeline .timeline-row .timeline-content {
      padding: 15px;
      margin-left: 56px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      position: relative;
  }
  .timeline .timeline-row .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
  }
  .timeline .timeline-row:nth-child(odd) {
      padding-right: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
      position: relative;
      right: auto;
      left: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
      margin-right: 0;
      margin-left: 55px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
      border-right: 18px solid #5a99ee;
      border-left: inherit;
  }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
      left: 20px;
  }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
      left: 0;
  }
}

/*=============== Timeline section end =============*/


/*==================================================
                footer section start  
====================================================*/

.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  margin-top: 150px;
	background: #fbfbfd;
    padding: 70px 0;
    box-shadow: rgba(214, 144, 3, 0.3) 0px 0px 0px 3px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--orange-color);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--black--color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 400;
  color: var(--black--color);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--orange-color);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	transform: translateY(-7px);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*=============== footer section end =============*/

