@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

header{
  position: sticky;
  top: 0; right: 0; left: 0;
  background: transparent;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(241, 169, 60, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(25px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

header .logo{
  color: black;
  font-size: 1.5em;
  position: relative;
  left: 40px;
}

header .navbar ul li{
  position: relative;
  float: left;
  right: 40px;
}

header .navbar ul li a{
  display: block;
  padding: 20px;
  margin-top: 14px;
  font-size: 17px;
  color: black;
}

ul li .bx-chevron-down{
  transition: all 0.3sec ease;
}

ul li:hover .bx-chevron-down{
  transform: rotate(180deg);
}

header .navbar ul li ul{
  position: absolute;
    left: -53px;
    width: 200px;
    background: #fff;
    display: none;
}


header .navbar ul li ul li{
  width: 100%;
  position: relative;
  left: 10px;
  /* margin-top: 0; */
}

/* header .navbar ul li ul li:hover{
  background: rgba(0, 0, 0, 0.3);
} */

header .navbar ul li:hover > ul {
  display: initial;
}
#menu-bar{
  display: none;
}

header label{
  font-size: 17px;
  cursor: pointer;
  display: none;
}





@media(max-width:767px) { 
  header{
      padding: 20px;
  }

  header label{
      display: initial;
  }

  header .navbar{
      position: absolute;
      top:100%; left: 0; right:0;
      background: #fff;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      display: none;
  }

  header .navbar ul li{
      width: 100%;
      position: relative;
      left: 10px;
  }

  header .navbar ul li ul{
      position: relative;
      width: 100%;
  }

  header .navbar ul li ul li{
      background: #eee;
  }

  #menu-bar:checked ~ .navbar{
      display: initial;
  }
} 